@font-face {
    font-family: 'VezoniaDarkFont';
    src: url('VezoniaDarkFont.woff2') format('woff2'),
        url('VezoniaDarkFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

